.d-flex.flex-column.align-items-center.bg-black.text-white.p-4
  .d-flex.flex-column.align-items-start.fs-5
    .d-flex.align-items-center
      .logo--small.w-24.h-24.m-2
        include logos/_house_building
      .d-flex.align-items-start.align-items-sm-center.flex-column.flex-sm-row.m-1
        span Layer9 GmbH
        span.opacity-50.mx-2.d-none.d-sm-inline ·
        span Drakestraße 68
        span.opacity-50.mx-2.d-none.d-sm-inline ·
        span 12205 Berlin
    .d-flex.align-items-center
      .logo--small.w-24.h-24.m-2
        include logos/_envelope
      span.m-1 hello@layer9.berlin
    .d-flex.align-items-center
      .logo--small.w-24.h-24.m-2
        include logos/_file_certificate
      span.m-1 HRB 207373 B
