section#consulting_section.d-flex.flex-column.align-items-center
  .maxw-640.minw-300.w-50.mt-5
    include ../illustrations/_consulting
  h2.m-0.mt-3.fw-lighter.text-center Beratung
  .d-flex.flex-column.flex-md-row.p-3.minw-300
    +logo-with-text("IT-Sicherheit")
      include ../logos/_shield_check
    +logo-with-text("Legacy-Modernisierung")
      include ../logos/_person_cane
    +logo-with-text("Penetrationstests")
      include ../logos/_block_brick_fire
