section#development_section.d-flex.flex-column.align-items-center.w-100
  .maxw-640.minw-300.w-50.mt-5
    include ../illustrations/_development
  h2.m-0.mt-3.fw-lighter.text-center Software-Entwicklung
  .d-flex.flex-column.flex-md-row.p-3.minw-300
    +logo-with-text("Angular")
      include ../logos/_angular
    +logo-with-text("React")
      include ../logos/_react
    +logo-with-text("Ruby on Rails")
      include ../logos/_rails
